#chatbox {
width: 600px;
height: 400px;
background-color: aliceblue;
margin: 0 auto;
}

input[type='text'] {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 30px;

}

input[type='submit'] {
    display: block;
    margin: 0px auto;
    width: 600px;
    height: 30px;
    background-color: forestgreen;
    border: 1px solid forestgreen;
    color: white;
}
input[type='submit']:hover{
    background-color: transparent;
    color: forestgreen;
}